@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 15px;
    padding: 0 1.5rem;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.main-container {
    background-color: hsl(244, 38%, 16%);
    border: 0;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    max-height: 90%;
}
.img {
    background: linear-gradient(hsla(277, 100%, 25%, 0.486), hsla(277, 100%, 25%, 0.486)), url('./images/image-header-mobile.jpg');
    height: 30vh;
    width: 100%;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 0 0 ;
}
.content {
    padding: 0 1.5rem;
}
.content h1 {
    margin: 2.4rem 0 1.5rem 0;
}
.content h1 span {
    color: hsl(277, 64%, 61%);
}
.content .desc {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.stats h2 {
    margin-bottom: 0.5rem;
}
.stats p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

@media (min-width: 1140px) {
    .main-container {
        max-width: 60rem;
        height: 25rem;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 5px 0 0 5px;
    }
    .img {
        background: linear-gradient(hsla(277, 100%, 25%, 0.486), hsla(277, 100%, 25%, 0.486)), url('./images/image-header-desktop.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 0 5px 5px 0;
    }
    .content {
        padding: 3rem 4rem 0 3rem;
    }
    .content h1 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .content .desc {
        text-align: left;
        margin-bottom: 3.5rem;
    }
    .stats {
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
    }
    .stats h2 {
        text-align: left;
    }
    .stats p {
        margin: 0;
    }
}